@charset "utf-8";

/*---------------------------------------------------------------------------------------*/
.main { padding: 5px; }

.image { float: left; width: 420px; height: 236px; overflow: hidden; border-radius: 6px; box-shadow: 2px 2px 8px #888888; }

.intro { font-size: 16px; float: right; width: 540px; padding-top: 10px; }

.intro-h { padding-left: 20px; }

.button-container { padding-left: 40px; padding-top: 20px; display: inline-block; }

.intro-button { text-align: center; color: #333; text-decoration: none; background: linear-gradient(to bottom, rgba(250,250,250,1), rgba(220,220,220,1)); background: -moz-linear-gradient(top, rgba(250,250,250,1), rgba(220,220,220,1)); border-radius: 16px; border: grey 1px solid; padding: 5px; padding-left: 16px; padding-right: 16px; }

/*---------------------------------------------------------------------------------------*/
.news { padding-top: 250px; padding-bottom: 610px;}

.news-left { float: left; width: 480px; text-align: justify; }

.news-right { float: right; width: 480px; text-align: justify; }