@charset "utf-8";

/* ------- Body ------------------------------------------------------------------------------------------------------------- */
html, body { height: 100%; }

body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0; color: #333; }

ul, ol, dl { padding: 0; margin: 0; }

/* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
/* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
h1, h6, p { padding-right: 15px; padding-left: 15px; }

h2 { text-transform: uppercase; }

h3 { padding-right: 15px; padding-left: 15px; }

h4 { text-transform: uppercase; padding-right: 15px; padding-left: 15px; }

h5 { padding-right: 15px; padding-left: 15px; color: #999999; font-family: Georgia, "Times New Roman", Times, serif; font-weight: lighter; }

.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -40px; background: linear-gradient(to bottom, #CBE2FE, #FFFFFF); background: -moz-linear-gradient(top, #CBE2FE, #FFFFFF); }

/* ------- Container -------------------------------------------------------------------------------------------------------- */
.container { width: 80%; width: 1000px; margin: 0 auto; padding-bottom: 30px; }

/* ------- Topbar ----------------------------------------------------------------------------------------------------------- */
.topbar { font-family: Verdana; color: #ffffff; background: #1e1e1e; text-transform: uppercase; font-size: 11px; }

.topbar ul li{ display: inline; }

.topbar a { color: #ffdb93; }

#welcome-nav, #login-nav { width: 50%; }

#welcome-nav { float: left; }

#login-nav { float: right; text-align: right; }

/* ------- Header ----------------------------------------------------------------------------------------------------------- */
.header { padding: 5px; }

.logo { float: left; padding-left: 50px; }

.header-nav-container {padding-top: 40px; padding-bottom: 70px; padding-right: 50px; }

.header-nav { float: right; color: #ffffff; background: linear-gradient(to bottom, rgba(70,70,70,1), rgba(40,40,40,1)); background: -moz-linear-gradient(top, rgba(70,70,70,1), rgba(40,40,40,1)); padding: 5px; border-radius: 8px; box-shadow: 2px 2px 8px #888888; }

.header-nav ul { list-style-type: none; }

.header-nav li { float: left; }

.header-nav a { text-decoration: none; color: #ffffff; padding-left: 10px; padding-right: 10px; text-align: center; }

.header-nav a:hover { background: linear-gradient(to bottom, rgba(120,120,120,1), rgba(90,90,90,1)); background: -moz-linear-gradient(top, rgba(120,120,120,1), rgba(90,90,90,1)); border-radius: 5px; padding-top: 2px; padding-bottom: 2px; }

/* ------- Footer ----------------------------------------------------------------------------------------------------------- */
.footer, .push { height: 40px; }

.footer { color: #cccccc; background: #454545; bottom: 0px; left: 0px; right: 0px; height: 30px; font-size: 12px; padding-top: 10px; }

.footer ul { list-style-type: none; }

.footer li { float: left; padding-left: 20px; }

.footer a { text-decoration: none; color: #cccccc; }

.footer a:hover { text-decoration: underline; color: #cccccc; }

.footer-button { padding-top: 3px; float: right; }
