body {
	margin: 0;
	background: #F2F2F2;
	color: #666666;
	font-family: "Lucida Console", monospace;
}

h1 {
	font-size: 5em;
	margin: 0;
	letter-spacing: 10px;
	font-weight: lighter;
	padding: 10px 0 0 0;
	text-align: center;
}

#header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	background: #E0EEEE;
	font-family: Sans-Serif;
	color: #61B329;
}

.gwt-login {
	width: 1000px;
	margin: 0 auto;
	background: #61B329;
	text-align: center;
	font-size: 0.75em;
	color: #FFFFFF;
}

.gwt-navigation {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	background: #61B329;
	text-align: center;
	padding: 25px 75px 0 0;
}

.gwt-friends-list {
	width: 1000px;
	margin: 0 auto;
	background: #E0EEEE;
	color: #666666;
	padding: 0 350px 0 0;
}

.gwt-message-list {
	width: 1000px;
	margin: 0 auto;
	background: #E0EEEE;
	color: #666666;
	padding: 0 400px 0 0;
}

.gwt-my-details {
	width: 1000px;
	margin: 0 auto;
	background: #E0EEEE;
	color: #666666;
	padding: 0 400px 0 100px;
}

.gwt-friends-details {
	width: 1000px;
	margin: 0 auto;
	background: #E0EEEE;
	color: #666666;
	padding: 0 400px 0 100px;
}
.gwt-my-wall-control {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	background: #61B329;
	text-align: center;
	padding: 25px 0 0 0;
}

.gwt-Anchor {
	padding-left: 100px;
	font-size: 1.2em;
	font-weight: bold;
	color: #333333;
}

.gwt-Anchor:visited {
	color: #666666;
}

.gwt-Anchor:hover {
	color: #666666;
}

.gwt-Button {
	width: 150px;
}
