@font-face {
    font-family: 'turtles';
    src: url('turtles.ttf');
}

body {
	margin: 0;
	padding: 0;
	background: #F2F2F2;
	color: #666666;
	font-family: "Lucida Console", monospace;
}

h1 {
	font-size: 4.5em;
	margin: 0;
	letter-spacing: 10px;
	font-weight: lighter;
}

#header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	background: #E0EEEE;
	font-family: 'turtles';
	color: #61B329;
}

#header h1 {
	text-align: center;
}

#menu {
	width: 1000px;
	height: 65px;
	margin: 0 auto;
	background: #61B329;
	text-align: center;
}

#menu ul {
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding-right: 30px;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
	color: #F2F2F2;
}

#menu a:hover {
	text-decoration: underline;
}

#main {
	width: 1000px;
	margin: 0 auto;
}

#content {
	float: left;
	width: 750px;
	background: #E0EEEE;
}

.post {
	padding: 40px 40px 0px 0px;
}

.post .links {
	padding: 2px 20px;
	background: #61B329;
	color: #E3E3E3;
	text-align: right;
}

.post .links a {
	text-decoration: none;
	font-weight: bold;
	color: #F2F2F2;
}

.post .links a:hover {
	text-decoration: underline;
}

#sidebar {
	float: left;
	width: 250px;
	background: #C1CDCD;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 10px 10px 10px 10px;
}

#sidebar li li {
	font-size: .85em;
}

#sidebar a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}

#sidebar a:hover {
	text-decoration: underline;
}

#footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
	color: #333333;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}
