=================================
Trade-off: security and usability
=================================

There are room for improvement when it comes to increasing the level of usability and user-friendliness in the Turtlenet software. 

Firstly, as developers, we need to pay attention to the target audience, especially when it alludes to the general public, which have different ranges of user experience and knowledge when using a social network program. Paying attention and understand to how the general public thinks and the level of their knowledge are, we as developers can shape the program into something that is user-friendly and avoid mistakes which can be easily made by the users if the program is confusing. We have to be aware that since Turtlenet is a social media which is more security oriented, there are some functionalities that the general public might not be knowledgeable aobut.

In order to help the users who uses Turtlenet for the first time in our future development, is the use of 'pop up manual'. These instructions will pop out in a subtly manner in specific areas on the website when the user uses Turtlenet for the first time. An example is under the public key field. The general public would have no idea what a public key is or what is to do with it. A pop up manual is useful for this case, it will pop out saying in a generic, non-jargon or technical sense saying "Public key is the key to share with your trusted friends! Hence its name, it behaves like a key which can be passed along to others so they can unlock and view your profile."

Lastly, in order to make future improvements of the program, one important and effective way to do so is to listen to the customers' feedback. There are several platforms to gather feedback from customers, one common way to do it nowadays is using social media websites, and Twitter will be the best option for this case. Users can easily mention us in tweets, could be anything from actual feedback, rants, questions regarding the use of the program, what they like about it, and positive feedback. This could become useful to us developers to see how the customer think, feel and behave towards Turtlenet, and possibly the trends about their use of it. Using such information, developers can improve on certain areas of the program according to the users needs. Users are the one who uses the program regularly and know what is best when it comes to functionality. 