@charset "utf-8";

/*---------------------------------------------------------------------------------------*/
.faq-box { background: #FFF; border-radius: 16px; border: grey 1px solid; }

.faq-spacing { padding-bottom: 30px; }

h3 { padding-left: 30px; }